<!-- app/views/news/index.html.erb -->
<h1>Latest News</h1>

<ul>
  <% @news.each do |article| %>
    <li>
      <h2><%= article['title'] %></h2>
      <p><%= article['description'] %></p>
      <% if article['image'] %>
        <img src="<%= article['image'] %>" alt="Article Image">
      <% end %>
    </li>
  <% end %>
</ul>
