<!-- app/views/news/index.html.erb -->
<%= stylesheet_link_tag 'news', media: 'all' %>

<div class="news-container">
  <h1>Latest News</h1>

  <ul class="news-list">
    <% @news.each do |article| %>
      <li class="news-item">
        <% if article['image'] %>
          <div class="news-image">
            <img src="<%= article['image'] %>" alt="Article Image">
          </div>
        <% end %>
        <div class="news-details">
          <h2 class="news-title"><%= article['title'] %></h2>
          <p class="news-description"><%= article['description'] %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
